body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: linear-gradien(); */
}

.container {
    position: relative;
    background: white;
    height: 5rem;
    width: 75%;
    margin-top: 2rem;
    margin-left: 7.5rem;
    border-radius: 50px;
}

.link-color {
    color: rgb(117, 116, 116);
    /* margin-top: 2rem; */
    
}

.navbar-brand {
    color: black;
    margin-left: 18px;
}

b {
    color: rgb(221, 153, 26);
}

.form-control {
    position: relative;
    margin-top: 1rem;   	  
}

img {
    position: relative;
    border-radius: 25px;
    height: 45px;
    width: 60px;
    margin-top: 17px;
    margin-left: 12px;
}

ul {
    position: relative;
    display: inline;
}

.searchThing {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    color: rgb(92, 90, 90);
    margin-left: -20px;
    padding: 20px;
}

#knife-active {
    position: relative;
    display: block;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 460px;
    height: 360px;
    border-radius: 15px;
}

.knife {
    display: inline-block;
    padding: 15px;
    width: 156px;
    height: 140px;
}

#image-outline {
    border: 5px solid rgb(221, 153, 26);
    padding: 0;
}

#search {
    margin-left: -9rem;
}

.cart {
    position: relative;
    margin-top: 19px;
    color: rgb(221, 153, 26);
    border: 1px solid rgb(194, 193, 193);
    border-radius: 5px;
    margin-left: 12px;
    padding: 8px;

}

.cart:hover {
    border: none;
    outline: none;
}

#cart-number {
    color: rgb(92, 90, 90);
    display: inline;
}

.description {
    position: absolute;
    margin-left: 40rem;
    margin-top: -32rem;
}

h2 {
    font-weight: 700;
}

#company-name {
    color: rgb(92, 90, 90);
}

#company {
    color: rgb(219, 149, 19);
    font-weight: 600;
}

.dollar {
    background-color: rgb(252, 240, 219);
    color: rgb(247, 164, 11);
    width: 3rem;
    height: 2rem;
    border-radius: 6px;
    position: relative;
    margin-top: -380px;
    margin-left: 40rem;
}

#sign {
    position: absolute;
    margin-top: -1px;
}

#number {
    color: rgb(221, 153, 26);
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    margin-left: 12px;
    margin-top: 1px;
}

#discount {
    position: absolute;
    margin-left: 4.5rem;
    color: rgb(35, 160, 122);
    font-weight: 600;
    width: 5rem;
    font-size: large;
    margin-top: -4.7px;
}

#tax {
    position: absolute;
    color: rgb(158, 157, 157);
    width: 12rem;
    margin-top: 1rem;
    margin-left: 4rem;
    font-size: 13px;
}

#quality {
    color: rgb(87, 84, 84);
    font-size: medium;
    width: 20rem;
    margin-top: 3.2rem;
    position: absolute;
}

#button {
    position: absolute;
    color: white;
    background-color: rgb(247, 164, 11);
    border: 1px solid rgb(221, 153, 26);
    border-radius: 8px;
    font-weight: 600;
    font-size: large;
    width: 8rem;
    padding: 8px;
    margin-top: 6rem;
    margin-left: 43.6rem;
}

#button:hover {
    background-color: rgb(248, 176, 42);
    outline: none;
}

.quantity {
    border: 1px solid rgb(138, 137, 137);
    color:rgb(102, 100, 100);
    position: absolute;
    border-radius: 5px;
    margin-top: 6rem;
    margin-left: 40rem;
    height: 44px;
    width: 42px;
    padding: 3px;
    font-size: small;
}

#number2 {
    color: rgb(56, 56, 56);
    font-weight: 600;
    font-size: medium;
}
.tab-menu {
    position: absolute;
    height: 11rem;
    width: 27rem;
    background-color: rgb(241, 210, 147);
    border-radius: 14px;
    margin-top: 13rem;
    margin-left: 47rem;
}

#display {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 22px;
    margin-left: 1.1rem;
}

#name {
    font-size: medium;
    position: absolute;
    margin-left: 4.5rem;
    margin-top: 1.6rem;
}

.blade {
    font-size: large;
    position: absolute;
    margin-top: 4.1rem;
    margin-left: 17px;
}

#para {
    color:rgb(85, 83, 83);
    margin-top: 5.7rem;
    font-size: 14px;
    position: absolute;
    margin-left: 17px;
}

.rating {
    position: absolute;
    border: 1px solid rgb(138, 137, 137);
    border-radius: 6px;
    margin-top: 1.5rem;
    margin-left: 23rem;
    padding: 4px;
}
